solr:
  url: http://www.eu.apache.org/dist/lucene/solr/
  ver: 6.4.1
  name: solr
  logs: /var/solr/logs/
  data: /var/solr/data/
  home: /var/solr/
  java_home: /usr/lib/jvm/java-8-oracle
  user: solr
  install_dir: /opt/solr
  mode: solrcloud
  cluster:
    servers:
      solr1:
        ip: 
        id: '1'
      solr2:
        ip: 
        id: '2'
  zoo_url: http://www.eu.apache.org/dist/zookeeper/
  zoo_ver: 3.4.7
  zoo_name: zookeeper
  zoo_logs: /var/zookeeper/logs/
  zoo_data: /var/zookeeper/data/
  zoo_conf_dir: /opt/zookeeper/conf/
  zoo_client_timeout: 30000
  zoo_cluster:
    servers:
      - 'localhost:2181'
      - 'localhost:2181'
      - 'localhost:2181'

