solr:
  url: http://www.eu.apache.org/dist/lucene/solr/
  ver: 6.3.0
  name: solr
  logs: /var/solr/logs/
  data: /var/solr/data/
  home: /var/solr/
  user: solr
  install_dir: /opt/solr
  cluster:
    servers:
      solr1:
        ip: 
        id: '1'
      solr2:
        ip: 
        id: '2'
  zoo_url: http://www.eu.apache.org/dist/zookeeper/
  zoo_ver: 3.4.7
  zoo_name: zookeeper
  zoo_logs: /var/zookeeper/logs/
  zoo_data: /var/zookeeper/data/
  zoo_conf_dir: /opt/zookeeper/conf/
  zoo_client_timeout: 30000
  zoo_cluster:
    servers:
      zk1:
        ip: 
        id: '1'
      zk2:
        ip: 
        id: '2'
      zk3:
        ip: 
        id: '3'

