solr:
  url: http://www.eu.apache.org/dist/lucene/solr/
  ver: 6.4.1
  name: solr
  logs: /var/solr/logs/
  data: /var/solr/data/
  home: /var/solr/
  java_home: /usr/lib/jvm/java-8-oracle
  user: solr
  install_dir: /opt/solr
  mode: solrcloud
  cluster:
    servers:
      solr1:
        ip: 
        id: '1'
      solr2:
        ip: 
        id: '2'
  zookeeper:
    client_timeout: 30000
    nodes:
      - 'localhost:2181'  
      - 'somehost:2181'
      - 'someotherhost:2181'

